html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  letter-spacing: normal;
}

.description_div {
  display: flex;
}

.video_container {
  display: flex;
  align-items: center;
}

#webcam_video {
  max-width: 25%;
  height: 100%;
  pointer-events: none;
}

#main_video {
  max-width: 75%;
  height: 100%;
}

.info_div {
  margin-left: 1em;
}

#names_paragraph {
  margin-top: 14px;
}

#time_div {
  margin-left: 1em;
}
